{% extends 'base.html' %}
{% block content %}

<title>{% block title %}About US{% endblock %}</title>



<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body>
        
        <!-- Page Content-->
         <body>
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/media/aboutus.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Plant Me - Building The Future</h1>
                    <p>This is a Project that we build. It helps Farmers to understand the trending crops</p>
                    
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Crops are suggest based on AI calculation. please do your own research as well.</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Who we are</h2>
                            <p class="card-text">We think that in the future AI (Artificial Intelligence) will help improve our crop production and our crop protection.</p>
                            <p class="card-text">focus is on improving technology in crop cultivation, harvesting and handling to minimize losses and optimize yield and income for farmers.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Vision</h2>
                            <p class="card-text">Your farm's mission and vision statements help guide your business.  They help you communicate with customers and suppliers; they help guide your decisions about marketing strategies and enterprises.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Mail Us</h2>
                            <p class="card-text">301, A wing, Shiv Darshan Building, Saibaba mandir road, Azde gaon Dombivli (E) <Br><h4>contact@PlantMe.com</h4>  </Br></p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}