{% extends 'base.html' %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
    <title>{% block title %}Pesticides{% endblock %}</title>
    <body> 
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">herbicide</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on April 12, 2022 by Mohan</div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="/media/Herbicides.jpg" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">herbicide, an agent, usually chemical, for killing or inhibiting the growth of unwanted plants, such as residential or agricultural weeds and invasive species. A great advantage of chemical herbicides over mechanical weed control is the ease of application, which often saves on the cost of labour. Most herbicides are considered nontoxic to animals and humans, but they can cause substantial mortality of nontarget plants and the insects that depend on them, especially when applied aerially.</p>
                            <p class="fs-5 mb-4">Chemical weed control has been used for a very long time: sea salt, industrial by-products, and oils were first employed. Selective control of broad-leaved weeds in fields of cereal crops was discovered in France in the late 1800s, and this practice soon spread throughout Europe. Sulfates and nitrates of copper and iron were used, and sulfuric acid proved even more effective. Application was by spraying. Soon sodium arsenite became popular both as a spray and as a soil sterilant. On thousands of kilometres of railroad right-of-way, and in sugarcane and rubber plantations in the tropics, the hazardous material was used in tremendous quantities, often resulting in the poisoning of animals and occasionally humans.</p>
                            <p class="fs-5 mb-4">Sinox, the first major organic chemical herbicide, was developed in France in 1896. In the late 1940s new herbicides were developed out of the research during World War II, and the era of the “miracle” weed killers began. Within 20 years over 100 new chemicals were synthesized, developed, and put into use. Chemical weed control superseded both plant-disease and insect-pest control in economic impact. In particular, the year 1945 was key to the development of selective chemical weed control. Introduced then were 2,4-D (2,4-dichlorophenoxyacetic acid), 2,4,5-T (2,4,5-trichlorophenoxyacetic acid), and IPC (isopropyl-N-phenylcarbamate)—the first two selective as foliar sprays against broad-leaved weeds, the third selective against grass species when applied through the soil.</p>
                            <h2 class="fw-bolder mb-4 mt-5">The new herbicides were revolutionary in that their high toxicity allowed for effective weed control at dosage rates as low as one to two kilograms per hectare
                                 (one or two pounds per acre).</h2>
                            <p class="fs-5 mb-4"> This contrasted with carbon bisulfide, borax, and arsenic trioxide,
                                which were required at rates of up to 2,242 kilograms per hectare (one ton per acre), and with sodium chlorate, 
                                required at rates of around 112 kilograms per hectare (100 pounds per acre). However, some of those early herbicides,
                                 including 2,4,5-T, were later deemed unsafe for humans and the environment and were discontinued in many countries. 
                                 Effective herbicides have continued to be developed, and some, such as glyphosate, are widely used around the world. Herbicides are used in agricultural and wildland ecosystems to reduce the density of weeds and promote the growth of desirable species. Use of herbicides in agroecosystems may change composition of weed populations. In wildlands, herbicides may increase the diversity of native species. Threats to plant biodiversity caused by habitat loss and invasive species are far greater than threats by use of herbicides. This article reviews concepts of weeds; principles of weed management; and categories, action, and fate of herbicides. Impacts of herbicides on biodiversity of target and nontarget species and the role of weed control in preserving biodiversity are also discussed.</p>
                            <p class="fs-5 mb-4">There are many groups of herbicides with different chemistries and different toxic mechanisms of action. The principal toxic mechanisms that affect plants are sometimes the same as those that affect animals. In other instances, a unique aspect of plant biochemistry may be targeted by a herbicide, but a different type of biochemical receptor may be important in exposed animals.</p>
                        </section>
                    </article>
<!-- Comments section-->
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            
        </div>
    </div>
</section>
</div>

<div class="col-lg-4">

<div class="card mb-4">
 
<div class="card mb-4">
    <!-- Side widgets-->
    <div class="card-header">Application</div>
    <div class="card-body">Modern weed killers are put in two categories: selective (affecting specific plant species) and nonselective (affecting plants generally). These, in turn, are classified as foliage-applied and soil herbicides. Contact herbicides (e.g., sulfuric acid, diquat, paraquat) kill only the plant organs with which they are in contact. Translocated herbicides (e.g., amitrole, picloram, and 2,4-D) are effective against roots or other organs to which they are transported from aboveground treated surfaces (i.e., soil). With respect to planting time, herbicides are also classified as preplant, preemergence, or postemergence weed killers. Preplant herbicides may be applied to the soil or to weeds before crop planting.</div>
</div>
    
</div>


</div>
</div>
</div>



{% endblock %}