{% extends 'base.html' %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
    <title>{% block title %}Pesticides{% endblock %}</title>
    <body> 
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Insecticides</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on April 12, 2022 by Vinay</div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="/media/Insecticides.jpg" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">Insecticides are pesticides that are formulated to kill, harm, repel or mitigate one or more species of insect. Insecticides work in different ways. Some insecticides disrupt the nervous system, whereas others may damage their exoskeletons, repel them or control them by some other means. They can also be packaged in various forms including sprays, dusts, gels, and baits. Because of these factors, each insecticide can pose a different level of risk to non-target insects, people, pets and the environment.</p>
                            <p class="fs-5 mb-4">insecticide, any toxic substance that is used to kill insects. Such substances are used primarily to control pests that infest cultivated plants or to eliminate disease-carrying insects in specific areas.</p>
                            <p class="fs-5 mb-4">Most synthetic insecticides penetrate by all three of these pathways, however, and hence are better distinguished from each other by their basic chemistry. Besides the synthetics, some organic compounds occurring naturally in plants are useful insecticides, as are some inorganic compounds; some of these are permitted in organic farming applications. Most insecticides are sprayed or dusted onto plants and other surfaces traversed or fed upon by insects.

                                Modes of penetration Insecticides can be classified in any of several ways, on the basis of their chemistry, their toxicological action, or their mode of penetration. In the latter scheme, they are classified according to whether they take effect upon ingestion (stomach poisons), inhalation (fumigants), or upon penetration of the body covering (contact poisons). </p>
                            <h2 class="fw-bolder mb-4 mt-5">Modes of penetration</h2>
                            <p class="fs-5 mb-4">Stomach poisons are toxic only if ingested through the mouth and are most useful against those insects that have biting or chewing mouth parts, such as caterpillars, beetles, and grasshoppers. The chief stomach poisons are the arsenicals—e.g., Paris green (copper acetoarsenite), lead arsenate, and calcium arsenate; and the fluorine compounds, among them sodium fluoride and cryolite. They are applied as sprays or dusts onto the leaves and stems of plants eaten by the target insects. Stomach poisons have gradually been replaced by synthetic insecticides, which are less dangerous to humans and other mammals.</p>
                            <p class="fs-5 mb-4">Contact poisons penetrate the skin of the pest and are used against those arthropods, such as aphids, that pierce the surface of a plant and suck out the juices. The contact insecticides can be divided into two main groups: naturally occurring compounds and synthetic organic ones. The naturally occurring contact insecticides include nicotine, developed from tobacco; pyrethrum, obtained from flowers of Chrysanthemum cinerariaefolium and Tanacetum coccineum; rotenone, from the roots of Derris species and related plants; and oils, from petroleum. Though these compounds were originally derived mainly from plant extracts, the toxic agents of some of them (e.g., pyrethrins) have been synthesized. Natural insecticides are usually short-lived on plants and cannot provide protection against prolonged invasions. Except for pyrethrum, they have largely been replaced by newer synthetic organic insecticides.</p>
                        </section>
                    </article>
<!-- Comments section-->
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            
        </div>
    </div>
</section>
</div>

<div class="col-lg-4">

<div class="card mb-4">
 
<div class="card mb-4">
    <!-- Side widgets-->
    <div class="card-header">Keep these tips in mind:</div>
    <div class="card-body">Practicing Integrated Pest Management can significantly reduce the amount of insecticides needed to control many insect problems.
        Using more than one insecticide product in the same location can increase or decrease each one's effectiveness. It may also result in a greater risk to health and/or the environment.
        Broad-spectrum insecticides are effective against all insects, even the good ones. Other insecticides target certain insects. Using a targeted insecticide minimizes the risk to beneficial or non-target insects.
        Some insecticides work immediately to kill insects while others may need some time to take effect.
        Insect growth regulators like pyriproxyfen and methoprene do not kill insects; they make it impossible for exposed insects to molt (grow) or lay eggs properly.
        Insecticidal baits can be used instead of spraying large areas, especially for social insects like ants. This can decrease the risk of exposure, but remember to place baits where children and pets won't have access.</div>
</div>
    
</div>


</div>
</div>
</div>



{% endblock %}