{% extends 'base.html' %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
    <title>{% block title %}Pesticides{% endblock %}</title>
    <body> 
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Mothballs</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on April 12, 2022 by Mohan</div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="/media/Mothballs.jpg" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">Mothballs are classified as a pesticide and used to
                                control moths, silverfish and other fiber pests in
                                wool and other natural fiber clothing and materials.
                                Mothballs should only be used as specified on
                                the label, and their use is regulated by the U.S.
                                Environmental Protection Agency (EPA). </p>
                            <p class="fs-5 mb-4">Mothballs are commonly made of naphthalene or paradichlorobenzene, both of which are toxic to humans.
                                These chemicals are solids at room temperature and
                                are made into round balls, flakes or cakes that slowly
                                change to a gas and become fumes in the air.</p>
                            <p class="fs-5 mb-4">The chemicals in mothballs are toxic to humans and
                                pets. People are exposed to the chemicals in mothballs
                                by inhaling the fumes. If you smell mothballs, you are
                                being exposed to these chemicals. Children or pets
                                sometimes mistake mothballs for food or candy and
                                eat them, which can cause serious effects.
                                Some of the chemicals in mothballs can cause
                                reversible health effects that include headaches,
                                nausea, eye and nose irritation and coughing.
                                Exposure to naphthalene can cause more serious
                                effects, including hemolytic anemia. Naphthalene
                                is also a possible carcinogen. Extended exposure to
                                mothballs can also cause liver and kidney damage.
                                </p>
                            <h2 class="fw-bolder mb-4 mt-5">Mothballs should never be used in
                                schools, daycare centers and
                                other public buildings. </h2>
                            <p class="fs-5 mb-4">an effective, multipronged and safe way to monitor,
                                identify, prevent and control pests. IPM includes the
                                following steps:
                                 identify the specific pest in order to target
                                preventive and control actions;
                                 monitor to assess pest numbers, damage and
                                locations;
                                 implement preventive measures, such as removing
                                food sources, making habitat undesirable (e.g.,
                                remove tall grass) and putting up physical barriers;
                                and
                                 control pests through selective measures, such as
                                trapping and removing pests or using pesticides
                                specific for the pest in an appropriate and
                                minimal fashion.
                                If pesticides are used, be sure to follow the label
                                instructions exactly in order to use them safely
                                and correctly.</p>
                            <p class="fs-5 mb-4">Mothballs should not be placed in closets, attics,
                                basements, storage chests or trunks, garment bags or
                                other spaces other than in tightly closed containers as
                                explained above. Gasses from the mothballs escape
                                into the air and can cause respiratory problems.
                                High levels of the chemical fumes can accumulate in
                                closed areas. Improper use of mothballs can lead to
                                long term exposures to people and pets. The fumes
                                are heavier than air and will accumulate along floors,
                                posing a danger to small children and pets.</p>
                        </section>
                    </article>
<!-- Comments section-->
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            
        </div>
    </div>
</section>
</div>

<div class="col-lg-4">

<div class="card mb-4">
 
<div class="card mb-4">
    <!-- Side widgets-->
    <div class="card-header">Common Illegal Pesticide Products</div>
    <div class="card-body">Illegal naphthalene moth repellent products -- mothballs -- are hazardous to young children. Mothballs can easily be mistaken for candy, or simply tempt young children to touch and play with them. Recent studies link naphthalene to illnesses, including nasal cancer. Widespread sale of illegal mothball products is a particular concern.
        Illegal pet products, including foreign versions of the well-known EPA-registered pet products Advantage and Frontline, have been illegally imported and sold throughout the United States. Though registered for use in other countries, some foreign-labeled versions omit important warnings pertaining to children or give doses in metric units, which can cause Americans to accidentally over-dose or under-dose pets.</div>
</div>
    
</div>


</div>
</div>
</div>



{% endblock %}